<a href="https://colab.research.google.com/github/taranakasamanli/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print('Your name is '+name+'. Your age is '+age)

What is your name? Tarana
What is your age? 21
Your name is Tarana. Your age is 21

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
  print('a and b are equal')
else:
  print('a and b are not equal')

a and b are not equal

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a>b:
  print('a is greater than b')
elif a==b:
  print('a is equal to b')
else:
  print('a is less than b')

a is less than b

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
i=5
while i>0:
  print(i)
  i=i-1

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
m=10
while m>=0:
  if m!=8:
    print(m)
  m=m-2

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
from datetime import date
def calculateage(birthdate):
  today=date.today()
  age=today.year-birthdate.year-((today.month,today.day)<(birthdate.month,birthdate,day))
  return age
print(calculateage(date(1944,1,1)))

NameError: ignored

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class arithmetic:
  def addition(x,y):
    return x+y
print(arithmetic.addition(6,2))

class arithmetic:
  def substraction(x,y):
    return x-y
print(arithmetic.substraction(6,2))

class arithmetic:
  def multiplication(x,y):
    return x*y
print(arithmetic.multiplication(6,2))

class arithmetic:
  def division(x,y):
    return x/y
print(arithmetic.division(6,2))

8
4
12
3.0

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
finsum=0
n=3
for x in range (1,n+1):
  finsum=finsum+x
print(finsum)

6

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list. 
import random
mylist=[random.randrange(0,2,1) for i in range(10)]
newlist = mylist[:3]
print(newlist)

[1, 0, 0]

In [73]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for n in range (1,n+1):
  if n%3==0:
    print(n)

3
6
9
12
15