<a href="https://colab.research.google.com/github/taranakasamanli/DataScience/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print()

What is your name? Hulisi
What is your age? 43
Your name is Hulisi. Your age is 43

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range():

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.

In [ ]:
#Q9- write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15

3
6
9
12
15