<a href="https://colab.research.google.com/github/taranakasamanli/DataScience/blob/main/Homework5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Intro
Term deposits are a major source of income for a bank. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. The bank has various outreach plans to sell term deposits to their customers such as email marketing, advertisements, telephonic marketing, and digital marketing.

Telephonic marketing campaigns still remain one of the most effective way to reach out to people. However, they require huge investment as large call centers are hired to actually execute these campaigns. Hence, it is crucial to identify the customers most likely to convert beforehand so that they can be specifically targeted via call.

The data is related to direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe to a term deposit (variable y).

Content
The data is related to the direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed by the customer or not. The data folder contains two datasets:-

Bank.csv: 45,211 rows and 18 columns ordered by date (from May 2008 to November 2010)

Detailed Column Descriptions
bank client data:

1 - age (numeric)

2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
"blue-collar","self-employed","retired","technician","services")

3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)

4 - education (categorical: "unknown","secondary","primary","tertiary")

5 - default: has credit in default? (binary: "yes","no")

6 - balance: average yearly balance, in euros (numeric)

7 - housing: has housing loan? (binary: "yes","no")

8 - loan: has personal loan? (binary: "yes","no")
# related with the last contact of the current campaign:
9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
10 - day: last contact day of the month (numeric)

11 - month: last contact month of year (categorical: "jan", "feb", "mar", …, "nov", "dec")

12 - duration: last contact duration, in seconds (numeric)

# other attributes:
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)

14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)

15 - previous: number of contacts performed before this campaign and for this client (numeric)

16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):

17 - y - has the client subscribed a term deposit? (binary: "yes","no")

Missing Attribute Values: None

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/Bank.csv',sep = ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [2]:
print(df.shape)
df.info()
df.isnull().sum()

(45211, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [3]:
#For object check the data 
for cn in df.columns:
  if(df[cn].dtype==object):
    print(df[cn].value_counts())

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64
married     27214
single      12790
divorced     5207
Name: marital, dtype: int64
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64
no     44396
yes      815
Name: default, dtype: int64
yes    25130
no     20081
Name: housing, dtype: int64
no     37967
yes     7244
Name: loan, dtype: int64
cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64
no     39922
yes     5289
Name: y, dtype: int64

In [4]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [5]:
df=Encoder(df)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [6]:
y = df['y'] #Output
X = df.drop('y',axis=1)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1

In [7]:
from sklearn.model_selection import  train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

 


Q1)Using  Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate Accuracy on Test data. Which method gives the best accuracy on test data

In [8]:
#Random Forest
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(random_state=17 )
forest.fit(X_train, y_train)
# make predictions for test data
forest_pred = forest.predict(X_test)
print(accuracy_score(y_test, forest_pred) )
print(confusion_matrix(y_test, forest_pred)) 
sum(y_test)

# XGBoost
from xgboost import XGBClassifier
model = XGBClassifier(random_state=17)
model.fit(X_train, y_train)
# make predictions for test data
xgb_pred = model.predict(X_test)
print(accuracy_score(y_test, xgb_pred))
print(confusion_matrix(y_test, xgb_pred)) 
sum(y_test)

#Light GBM
import lightgbm as lgb
lgb_model = lgb.LGBMClassifier(random_state=17)
lgb_model.fit(X_train, y_train)
# make predictions for test data
print(accuracy_score(y_test, lgb_model.predict(X_test)))
print(confusion_matrix(y_test, lgb_model.predict(X_test)))

#Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier
gbm_model = GradientBoostingClassifier(random_state=17)
gbm_model.fit(X_train, y_train)
print(accuracy_score(y_test, gbm_model.predict(X_test)))
print(confusion_matrix(y_test, gbm_model.predict(X_test)))

#Light GBM gives the best accuracy (0.9045)

0.9025037600636999
[[9635  319]
 [ 783  566]]
0.90020348580023
[[9689  265]
 [ 863  486]]
0.9044501459789437
[[9583  371]
 [ 709  640]]
0.9018844554543042
[[9657  297]
 [ 812  537]]

Q2) Using optuna hyperparmeter optimization technique and 100 trial

 a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation accuracy?

"max_depth": range(2, 16), "max_features": range(2, 16)

 b)Evaluate the performance of the  method with highest cross validation accuracy on test data.What is the accuracy value?

In [12]:
!pip install optuna

Collecting optuna
  Downloading optuna-2.10.0-py3-none-any.whl (308 kB)
     |████████████████████████████████| 308 kB 4.3 MB/s
Collecting alembic
  Downloading alembic-1.7.7-py3-none-any.whl (210 kB)
     |████████████████████████████████| 210 kB 34.1 MB/s
Collecting cmaes>=0.8.2
  Downloading cmaes-0.8.2-py3-none-any.whl (15 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.5)
Collecting colorlog
  Downloading colorlog-6.6.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.63.0)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.32)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Collecting cliff
  Downloading cliff-3.10.1-py3-none-any.whl (81 kB)
     |████████████████████████████████| 81 kB 7.8 MB/s
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.7)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Collecting Mako
  Downloading Mako-1.2.0-py3-none-any.whl (78 kB)
     |████████████████████████████████| 78 kB 5.1 MB/s
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.4.0)
Collecting autopage>=0.4.0
  Downloading autopage-0.5.0-py3-none-any.whl (29 kB)
Collecting stevedore>=2.0.1
  Downloading stevedore-3.5.0-py3-none-any.whl (49 kB)
     |████████████████████████████████| 49 kB 3.1 MB/s
Collecting pbr!=2.1.0,>=2.0.0
  Downloading pbr-5.8.1-py2.py3-none-any.whl (113 kB)
     |████████████████████████████████| 113 kB 36.9 MB/s
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.2.0)
Collecting cmd2>=1.0.0
  Downloading cmd2-2.4.0-py3-none-any.whl (150 kB)
     |████████████████████████████████| 150 kB 35.3 MB/s
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (3.10.0.2)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Collecting pyperclip>=1.6
  Downloading pyperclip-1.8.2.tar.gz (20 kB)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)
Building wheels for collected packages: pyperclip
  Building wheel for pyperclip (setup.py) ... done
  Created wheel for pyperclip: filename=pyperclip-1.8.2-py3-none-any.whl size=11137 sha256=55b52f65098a3bf242982f6fc7a031ee649e0b4b2867ff642de1fff666969d59
  Stored in directory: /root/.cache/pip/wheels/9f/18/84/8f69f8b08169c7bae2dde6bd7daf0c19fca8c8e500ee620a28
Successfully built pyperclip
Installing collected packages: pyperclip, pbr, stevedore, Mako, cmd2, autopage, colorlog, cmaes, cliff, alembic, optuna
Successfully installed Mako-1.2.0 alembic-1.7.7 autopage-0.5.0 cliff-3.10.1 cmaes-0.8.2 cmd2-2.4.0 colorlog-6.6.0 optuna-2.10.0 pbr-5.8.1 pyperclip-1.8.2 stevedore-3.5.0

In [14]:
import optuna

import sklearn.datasets
import sklearn.ensemble
import sklearn.model_selection
import sklearn.svm

def objective(trial):
    x, y = X_test,y_test

    classifier_name = trial.suggest_categorical("classifier", ["Random Forest","XGBoost", "LightGBM","GradientBoostingClassifier"])
    if classifier_name == "Random Forest":
         from sklearn.ensemble import RandomForestClassifier
         max_depth = trial.suggest_int("max_depth",2,X_test.shape[1])
         max_features = trial.suggest_int("max_features",2,X_test.shape[1])
         classifier_obj = sklearn.ensemble.RandomForestClassifier(random_state=17,  max_depth=max_depth, max_features=max_features)

    elif classifier_name == "XGBoost":
         from xgboost import XGBClassifier
         max_depth = trial.suggest_int("max_depth",2,X_test.shape[1])
         max_features = trial.suggest_int("max_features",2,X_test.shape[1])
         classifier_obj = XGBClassifier(random_state=17,  max_depth=max_depth, max_features=max_features)
        
    elif classifier_name == "LightGBM":
         import lightgbm as lgb
         max_depth = trial.suggest_int("max_depth",2,X_test.shape[1])
         max_features = trial.suggest_int("max_features",2,X_test.shape[1])
         classifier_obj = lgb.LGBMClassifier(random_state=17,  max_depth=max_depth, max_features=max_features)

    else:
         max_depth = trial.suggest_int("max_depth",2,X_test.shape[1])
         max_features = trial.suggest_int("max_features",2,X_test.shape[1])
         classifier_obj = sklearn.ensemble.GradientBoostingClassifier(random_state=17,  max_depth=max_depth, max_features=max_features)
        
         
    accuracy=sklearn.model_selection.cross_val_score(classifier_obj, x, y, n_jobs=-1, cv=3).mean()
   
    return accuracy

if __name__ == "__main__":
    study = optuna.create_study(direction="maximize")
    study.optimize(objective, n_trials=100)
    print(study.best_trial)

[I 2022-03-27 18:21:03,465] A new study created in memory with name: no-name-b1ae1a2b-0573-4636-8568-d65ca0008f69
[I 2022-03-27 18:21:13,626] Trial 0 finished with value: 0.8981687357956974 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 9, 'max_features': 14}. Best is trial 0 with value: 0.8981687357956974.
[I 2022-03-27 18:21:36,422] Trial 1 finished with value: 0.8968416779530811 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 14, 'max_features': 10}. Best is trial 0 with value: 0.8981687357956974.
[I 2022-03-27 18:21:40,872] Trial 2 finished with value: 0.8997613742916988 and parameters: {'classifier': 'XGBoost', 'max_depth': 10, 'max_features': 8}. Best is trial 2 with value: 0.8997613742916988.
[I 2022-03-27 18:21:51,717] Trial 3 finished with value: 0.8979919012108543 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 11, 'max_features': 8}. Best is trial 2 with value: 0.8997613742916988.
[I 2022-03-27 18:21:53,460] Trial 4 finished with value: 0.8974607633880924 and parameters: {'classifier': 'Random Forest', 'max_depth': 9, 'max_features': 3}. Best is trial 2 with value: 0.8997613742916988.
[I 2022-03-27 18:21:56,949] Trial 5 finished with value: 0.900822898448947 and parameters: {'classifier': 'XGBoost', 'max_depth': 8, 'max_features': 15}. Best is trial 5 with value: 0.900822898448947.
[I 2022-03-27 18:21:59,361] Trial 6 finished with value: 0.9007344107044997 and parameters: {'classifier': 'Random Forest', 'max_depth': 8, 'max_features': 5}. Best is trial 5 with value: 0.900822898448947.
[I 2022-03-27 18:22:00,268] Trial 7 finished with value: 0.902061820807245 and parameters: {'classifier': 'LightGBM', 'max_depth': 6, 'max_features': 11}. Best is trial 7 with value: 0.902061820807245.
[I 2022-03-27 18:22:03,737] Trial 8 finished with value: 0.900822898448947 and parameters: {'classifier': 'XGBoost', 'max_depth': 8, 'max_features': 8}. Best is trial 7 with value: 0.902061820807245.
[I 2022-03-27 18:22:05,398] Trial 9 finished with value: 0.8994075407339522 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 2, 'max_features': 12}. Best is trial 7 with value: 0.902061820807245.
[I 2022-03-27 18:22:05,871] Trial 10 finished with value: 0.9025927237899207 and parameters: {'classifier': 'LightGBM', 'max_depth': 3, 'max_features': 12}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:06,415] Trial 11 finished with value: 0.9025040481734045 and parameters: {'classifier': 'LightGBM', 'max_depth': 4, 'max_features': 12}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:06,816] Trial 12 finished with value: 0.8988765907832593 and parameters: {'classifier': 'LightGBM', 'max_depth': 2, 'max_features': 13}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:07,446] Trial 13 finished with value: 0.901265337171184 and parameters: {'classifier': 'LightGBM', 'max_depth': 5, 'max_features': 16}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:08,086] Trial 14 finished with value: 0.901265337171184 and parameters: {'classifier': 'LightGBM', 'max_depth': 5, 'max_features': 12}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:08,629] Trial 15 finished with value: 0.9025040481734045 and parameters: {'classifier': 'LightGBM', 'max_depth': 4, 'max_features': 6}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:09,097] Trial 16 finished with value: 0.9025927237899207 and parameters: {'classifier': 'LightGBM', 'max_depth': 3, 'max_features': 10}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:09,852] Trial 17 finished with value: 0.9013538718836486 and parameters: {'classifier': 'LightGBM', 'max_depth': 16, 'max_features': 10}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:10,273] Trial 18 finished with value: 0.8988765907832593 and parameters: {'classifier': 'LightGBM', 'max_depth': 2, 'max_features': 6}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:13,622] Trial 19 finished with value: 0.9001154661735401 and parameters: {'classifier': 'Random Forest', 'max_depth': 6, 'max_features': 14}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:14,378] Trial 20 finished with value: 0.9020614450631071 and parameters: {'classifier': 'LightGBM', 'max_depth': 12, 'max_features': 10}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:14,921] Trial 21 finished with value: 0.9025040481734045 and parameters: {'classifier': 'LightGBM', 'max_depth': 4, 'max_features': 5}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:15,405] Trial 22 finished with value: 0.9025927237899207 and parameters: {'classifier': 'LightGBM', 'max_depth': 3, 'max_features': 4}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:15,878] Trial 23 finished with value: 0.9025927237899207 and parameters: {'classifier': 'LightGBM', 'max_depth': 3, 'max_features': 2}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:16,574] Trial 24 finished with value: 0.902061820807245 and parameters: {'classifier': 'LightGBM', 'max_depth': 6, 'max_features': 2}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:17,043] Trial 25 finished with value: 0.9025927237899207 and parameters: {'classifier': 'LightGBM', 'max_depth': 3, 'max_features': 9}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:17,513] Trial 26 finished with value: 0.9025927237899207 and parameters: {'classifier': 'LightGBM', 'max_depth': 3, 'max_features': 4}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:19,056] Trial 27 finished with value: 0.8928601286810949 and parameters: {'classifier': 'Random Forest', 'max_depth': 7, 'max_features': 3}. Best is trial 10 with value: 0.9025927237899207.
[I 2022-03-27 18:22:21,151] Trial 28 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 7}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:23,241] Trial 29 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 7}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:25,771] Trial 30 finished with value: 0.9022384205520021 and parameters: {'classifier': 'XGBoost', 'max_depth': 6, 'max_features': 7}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:27,874] Trial 31 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 7}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:29,963] Trial 32 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 6}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:32,054] Trial 33 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 7}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:35,027] Trial 34 finished with value: 0.9018849392543847 and parameters: {'classifier': 'XGBoost', 'max_depth': 7, 'max_features': 7}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:39,471] Trial 35 finished with value: 0.8997613742916988 and parameters: {'classifier': 'XGBoost', 'max_depth': 10, 'max_features': 6}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:42,451] Trial 36 finished with value: 0.9018849392543847 and parameters: {'classifier': 'XGBoost', 'max_depth': 7, 'max_features': 8}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:44,554] Trial 37 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 7}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:48,996] Trial 38 finished with value: 0.8997613742916988 and parameters: {'classifier': 'XGBoost', 'max_depth': 10, 'max_features': 9}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:22:51,861] Trial 39 finished with value: 0.9018849392543847 and parameters: {'classifier': 'XGBoost', 'max_depth': 7, 'max_features': 8}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:23:09,060] Trial 40 finished with value: 0.897372463515714 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 13, 'max_features': 5}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:23:11,149] Trial 41 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 7}. Best is trial 28 with value: 0.9029464868956415.
[I 2022-03-27 18:23:12,872] Trial 42 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 6}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:14,481] Trial 43 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 6}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:16,216] Trial 44 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:17,938] Trial 45 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:19,682] Trial 46 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:21,538] Trial 47 finished with value: 0.9018847044142985 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 4, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:22,966] Trial 48 finished with value: 0.8982573644441963 and parameters: {'classifier': 'XGBoost', 'max_depth': 2, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:24,678] Trial 49 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:26,398] Trial 50 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:28,117] Trial 51 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:29,507] Trial 52 finished with value: 0.9004694171513297 and parameters: {'classifier': 'XGBoost', 'max_depth': 3, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:30,567] Trial 53 finished with value: 0.8982573644441963 and parameters: {'classifier': 'XGBoost', 'max_depth': 2, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:31,700] Trial 54 finished with value: 0.8861364221755923 and parameters: {'classifier': 'Random Forest', 'max_depth': 6, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:33,435] Trial 55 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:35,162] Trial 56 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:36,257] Trial 57 finished with value: 0.8998500264242065 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 3, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:42,677] Trial 58 finished with value: 0.8992302599529456 and parameters: {'classifier': 'XGBoost', 'max_depth': 16, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:46,642] Trial 59 finished with value: 0.9002036251418669 and parameters: {'classifier': 'XGBoost', 'max_depth': 9, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:48,796] Trial 60 finished with value: 0.9007344107044997 and parameters: {'classifier': 'Random Forest', 'max_depth': 8, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:50,538] Trial 61 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:52,258] Trial 62 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:53,344] Trial 63 finished with value: 0.8982573644441963 and parameters: {'classifier': 'XGBoost', 'max_depth': 2, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:54,734] Trial 64 finished with value: 0.9004694171513297 and parameters: {'classifier': 'XGBoost', 'max_depth': 3, 'max_features': 6}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:57,266] Trial 65 finished with value: 0.9022384205520021 and parameters: {'classifier': 'XGBoost', 'max_depth': 6, 'max_features': 6}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:23:58,990] Trial 66 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:00,264] Trial 67 finished with value: 0.9004694171513297 and parameters: {'classifier': 'XGBoost', 'max_depth': 3, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:02,832] Trial 68 finished with value: 0.9022384205520021 and parameters: {'classifier': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:03,927] Trial 69 finished with value: 0.8998500264242065 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 3, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:05,648] Trial 70 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:11,813] Trial 71 finished with value: 0.8967532371766511 and parameters: {'classifier': 'XGBoost', 'max_depth': 15, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:13,919] Trial 72 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:15,651] Trial 73 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:17,366] Trial 74 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:18,431] Trial 75 finished with value: 0.8982573644441963 and parameters: {'classifier': 'XGBoost', 'max_depth': 2, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:19,887] Trial 76 finished with value: 0.8910905616642159 and parameters: {'classifier': 'Random Forest', 'max_depth': 5, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:21,259] Trial 77 finished with value: 0.9004694171513297 and parameters: {'classifier': 'XGBoost', 'max_depth': 3, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:23,387] Trial 78 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:25,097] Trial 79 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:27,626] Trial 80 finished with value: 0.9022384205520021 and parameters: {'classifier': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:29,350] Trial 81 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:30,750] Trial 82 finished with value: 0.9004694171513297 and parameters: {'classifier': 'XGBoost', 'max_depth': 3, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:32,464] Trial 83 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:34,600] Trial 84 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 6}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:36,345] Trial 85 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:38,362] Trial 86 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:40,472] Trial 87 finished with value: 0.9007348099326461 and parameters: {'classifier': 'GradientBoostingClassifier', 'max_depth': 3, 'max_features': 11}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:41,535] Trial 88 finished with value: 0.8982573644441963 and parameters: {'classifier': 'XGBoost', 'max_depth': 2, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:42,638] Trial 89 finished with value: 0.8807396326086544 and parameters: {'classifier': 'Random Forest', 'max_depth': 3, 'max_features': 3}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:44,387] Trial 90 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:46,108] Trial 91 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:48,208] Trial 92 finished with value: 0.9029464868956415 and parameters: {'classifier': 'XGBoost', 'max_depth': 5, 'max_features': 5}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:49,931] Trial 93 finished with value: 0.9030347867680198 and parameters: {'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 6}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:51,315] Trial 94 finished with value: 0.9004694171513297 and parameters: {'classifier': 'XGBoost', 'max_depth': 3, 'max_features': 4}. Best is trial 42 with value: 0.9030347867680198.
[I 2022-03-27 18:24:56,597] Trial 95 finished with value: 0.8994957466702963 and parameters: {'classifier': 'XGBoost', 'max_depth': 12, 'max_features': 2}. Best is trial 42 with value: 0.9030347867680198.

FrozenTrial(number=42, values=[0.9030347867680198], datetime_start=datetime.datetime(2022, 3, 27, 18, 23, 11, 151645), datetime_complete=datetime.datetime(2022, 3, 27, 18, 23, 12, 871994), params={'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 6}, distributions={'classifier': CategoricalDistribution(choices=('Random Forest', 'XGBoost', 'LightGBM', 'GradientBoostingClassifier')), 'max_depth': IntUniformDistribution(high=16, low=2, step=1), 'max_features': IntUniformDistribution(high=16, low=2, step=1)}, user_attrs={}, system_attrs={}, intermediate_values={}, trial_id=42, state=TrialState.COMPLETE, value=None)

In [15]:
study.best_params

{'classifier': 'XGBoost', 'max_depth': 4, 'max_features': 6}

In [16]:
import lightgbm as lgb
lgb_model = lgb.LGBMClassifier(random_state=17,max_depth=11,max_features=9)
lgb_model.fit(X_test, y_test)

print(accuracy_score(y_test, lgb_model.predict(X_test)))

0.95788728656109

For Q3 and Q4 ,use the following data.

In [17]:
dr=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/diamond.csv')
dr

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price
0,1.10,Ideal,H,SI1,VG,EX,GIA,5169
1,0.83,Ideal,H,VS1,ID,ID,AGSL,3470
2,0.85,Ideal,H,SI1,EX,EX,GIA,3183
3,0.91,Ideal,E,SI1,VG,VG,GIA,4370
4,0.83,Ideal,G,SI1,EX,EX,GIA,3171
...,...,...,...,...,...,...,...,...
5995,1.03,Ideal,D,SI1,EX,EX,GIA,6250
5996,1.00,Very Good,D,SI1,VG,VG,GIA,5328
5997,1.02,Ideal,D,SI1,EX,EX,GIA,6157
5998,1.27,Signature-Ideal,G,VS1,EX,EX,GIA,11206
5999,2.19,Ideal,E,VS1,EX,EX,GIA,30507

In [18]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [19]:
dr=Encoder(dr)
dr

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report  Price
0             1.10    2      4        2       3         0       1   5169
1             0.83    2      4        3       2         2       0   3470
2             0.85    2      4        2       0         0       1   3183
3             0.91    2      1        2       3         3       1   4370
4             0.83    2      3        2       0         0       1   3171
...            ...  ...    ...      ...     ...       ...     ...    ...
5995          1.03    2      0        2       0         0       1   6250
5996          1.00    4      0        2       3         3       1   5328
5997          1.02    2      0        2       0         0       1   6157
5998          1.27    3      3        3       0         0       1  11206
5999          2.19    2      1        3       0         0       1  30507

[6000 rows x 8 columns]

In [20]:
y = dr['Price'] #Output
X = dr.drop('Price',axis=1)
X

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report
0             1.10    2      4        2       3         0       1
1             0.83    2      4        3       2         2       0
2             0.85    2      4        2       0         0       1
3             0.91    2      1        2       3         3       1
4             0.83    2      3        2       0         0       1
...            ...  ...    ...      ...     ...       ...     ...
5995          1.03    2      0        2       0         0       1
5996          1.00    4      0        2       3         3       1
5997          1.02    2      0        2       0         0       1
5998          1.27    3      3        3       0         0       1
5999          2.19    2      1        3       0         0       1

[6000 rows x 7 columns]

In [21]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

Q3)Using Linear Regression,Decison Tree Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate R2 statistics on test data. Which method gives the best accuracy on test data

In [22]:
from pandas.core.common import random_state
def evalmetric(y,ypred):
 import numpy as np
 e = y - ypred 
 mse_f = np.mean(e**2)
 rmse_f = np.sqrt(mse_f)
 mae_f = np.mean(abs(e))
 mape_f = 100*np.mean(abs(e/y))
 r2_f = 1-(sum(e**2)/sum((y-np.mean(y))**2))
 print("MSE:", mse_f)
 print("RMSE:", rmse_f)
 print("MAE:",mae_f)
 print("MAPE:",mape_f)
 print("R-Squared:", r2_f)

#Linear Regression
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)

print('Linear Regression')
pred=reg.predict(X_test)
evalmetric(y_test,pred)
print()

#Decision Tree
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor(random_state=17)
dtr.fit(X_train,y_train)

print('Decision Tree')
y_pred2 = dtr.predict(X_test)
evalmetric(y_test,y_pred2)
print()

#Random Forest
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=17)
rfr.fit(X_train,y_train)

print('Random Forest')
y_pred2 = rfr.predict(X_test)
evalmetric(y_test,y_pred2)
print()

#XGBoost
from xgboost import XGBRegressor
xgr = XGBRegressor(random_state=17)
xgr.fit(X_train, y_train)

print('TXGBoost')
y_pred2 = xgr.predict(X_test)
evalmetric(y_test,y_pred2)
print()

#Light GBM
from time import time
import lightgbm as lgb
t0 = time()
lgr = lgb.LGBMRegressor(random_state=17)
lgr.fit(X_train, y_train)

print('Light GBM')
y_pred2 = lgr.predict(X_test)
evalmetric(y_test,y_pred2)
print()

#Gradient Boosting
from sklearn.ensemble import GradientBoostingRegressor
from time import time

gbr = GradientBoostingRegressor(random_state=17)
gbr.fit(X_train, y_train)

print('Gradient Boosting')
y_pred2 = gbr.predict(X_test)
evalmetric(y_test,y_pred2)

Linear Regression
MSE: 18292450.049325157
RMSE: 4276.967389322153
MAE: 2701.997276609754
MAPE: 30.68442425409791
R-Squared: 0.8233845829696962

Decision Tree
MSE: 4222331.073863685
RMSE: 2054.83115458757
MAE: 1016.694373015873
MAPE: 7.833274374700561
R-Squared: 0.9592329752745201

Random Forest
MSE: 2074962.900565573
RMSE: 1440.4731516295515
MAE: 778.3143303628775
MAPE: 6.220426902140035
R-Squared: 0.9799660276771226

[18:28:05] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
TXGBoost
MSE: 2822838.991584785
RMSE: 1680.1306471774108
MAE: 881.3905965169271
MAPE: 7.3386749783130245
R-Squared: 0.9727452099437854

Light GBM
MSE: 1940840.8294753155
RMSE: 1393.1406352107153
MAE: 701.0864858904304
MAPE: 5.433753614630323
R-Squared: 0.9812609895578275

Gradient Boosting
MSE: 2702865.535065862
RMSE: 1644.0393958375396
MAE: 878.4993508475277
MAPE: 7.394144503096002
R-Squared: 0.9739035655494326

Q4) Using optuna hyperparmeter optimization technique (100 trial)  with Random Forest,XGBoost, Light GBM and Gradient Boosting Regressor

a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation R2?

"max_depth": range(2, 7), "max_features": range(2, 7)

 b)Evaluate the performance of the  method with highest cross validation R2 on test data. What is the R2 value?

In [23]:
!pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.7/dist-packages (2.10.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.32)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: cliff in /usr/local/lib/python3.7/dist-packages (from optuna) (3.10.1)
Requirement already satisfied: cmaes>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from optuna) (0.8.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.21.5)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.63.0)
Requirement already satisfied: alembic in /usr/local/lib/python3.7/dist-packages (from optuna) (1.7.7)
Requirement already satisfied: colorlog in /usr/local/lib/python3.7/dist-packages (from optuna) (6.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.7)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.11.3)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.4.0)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (1.2.0)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.2.0)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.5.0)
Requirement already satisfied: autopage>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (0.5.0)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (5.8.1)
Requirement already satisfied: cmd2>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (2.4.0)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (1.8.2)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (3.10.0.2)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.7.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)

In [27]:
import optuna

import sklearn.datasets
import sklearn.ensemble
import sklearn.model_selection
import sklearn.svm

def objective(trial):
    x, y = X_train,y_train

    regressor_name = trial.suggest_categorical("regressor", ["GradientBoosting", "XGBoost","LightGBM","RandomForest"])
    if regressor_name == "GradientBoosting":
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = sklearn.ensemble.GradientBoostingRegressor(random_state=17,  max_depth=max_depth, max_features=max_features)
    
    elif regressor_name == "XGBoost":
         from xgboost import XGBRegressor
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = XGBRegressor(random_state=17,  max_depth=max_depth, max_features=max_features)

    elif regressor_name == "LightGBM":
         import lightgbm as lgb
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = lgb.LGBMRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )
        
    else:
         max_depth = trial.suggest_int("max_depth", 2,7)
         max_features = trial.suggest_int("max_features", 2,7)
         regressor_obj = sklearn.ensemble.RandomForestRegressor(random_state=17,  max_depth=max_depth, max_features=max_features )

    r2=sklearn.model_selection.cross_val_score(regressor_obj, x, y, n_jobs=-1, cv=3).mean()
   
    return r2

if __name__ == "__main__":
    study = optuna.create_study(direction="maximize")
    study.optimize(objective, n_trials=100)
    print(study.best_trial)

[I 2022-03-27 18:31:14,600] A new study created in memory with name: no-name-9aae6f87-575a-4104-ad16-6033f308e8e4
[I 2022-03-27 18:31:17,277] Trial 0 finished with value: 0.9765224083258769 and parameters: {'regressor': 'LightGBM', 'max_depth': 5, 'max_features': 6}. Best is trial 0 with value: 0.9765224083258769.
[I 2022-03-27 18:31:18,085] Trial 1 finished with value: 0.9753001439418812 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 7, 'max_features': 2}. Best is trial 0 with value: 0.9765224083258769.
[I 2022-03-27 18:31:19,110] Trial 2 finished with value: 0.8572252151886985 and parameters: {'regressor': 'RandomForest', 'max_depth': 3, 'max_features': 7}. Best is trial 0 with value: 0.9765224083258769.
[I 2022-03-27 18:31:19,798] Trial 3 finished with value: 0.9837177913038949 and parameters: {'regressor': 'XGBoost', 'max_depth': 4, 'max_features': 2}. Best is trial 3 with value: 0.9837177913038949.
[I 2022-03-27 18:31:20,101] Trial 4 finished with value: 0.9758296442252078 and parameters: {'regressor': 'LightGBM', 'max_depth': 7, 'max_features': 6}. Best is trial 3 with value: 0.9837177913038949.
[I 2022-03-27 18:31:21,413] Trial 5 finished with value: 0.8488885595619111 and parameters: {'regressor': 'RandomForest', 'max_depth': 3, 'max_features': 4}. Best is trial 3 with value: 0.9837177913038949.
[I 2022-03-27 18:31:22,077] Trial 6 finished with value: 0.907429524548952 and parameters: {'regressor': 'RandomForest', 'max_depth': 4, 'max_features': 4}. Best is trial 3 with value: 0.9837177913038949.
[I 2022-03-27 18:31:22,792] Trial 7 finished with value: 0.9838427539963496 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 7, 'max_features': 5}. Best is trial 7 with value: 0.9838427539963496.
[I 2022-03-27 18:31:23,375] Trial 8 finished with value: 0.8639582097697365 and parameters: {'regressor': 'RandomForest', 'max_depth': 3, 'max_features': 5}. Best is trial 7 with value: 0.9838427539963496.
[I 2022-03-27 18:31:24,161] Trial 9 finished with value: 0.9389705102712522 and parameters: {'regressor': 'RandomForest', 'max_depth': 5, 'max_features': 7}. Best is trial 7 with value: 0.9838427539963496.
[I 2022-03-27 18:31:24,636] Trial 10 finished with value: 0.983032001253799 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 6, 'max_features': 3}. Best is trial 7 with value: 0.9838427539963496.
[I 2022-03-27 18:31:24,920] Trial 11 finished with value: 0.9548589700649653 and parameters: {'regressor': 'XGBoost', 'max_depth': 2, 'max_features': 2}. Best is trial 7 with value: 0.9838427539963496.
[I 2022-03-27 18:31:25,522] Trial 12 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:26,138] Trial 13 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:26,740] Trial 14 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 6}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:27,363] Trial 15 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:27,980] Trial 16 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:28,496] Trial 17 finished with value: 0.9842502916631269 and parameters: {'regressor': 'XGBoost', 'max_depth': 5, 'max_features': 6}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:29,121] Trial 18 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 6}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:29,820] Trial 19 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:29,998] Trial 20 finished with value: 0.9765224083258769 and parameters: {'regressor': 'LightGBM', 'max_depth': 5, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:30,607] Trial 21 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:31,221] Trial 22 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:31,732] Trial 23 finished with value: 0.9842502916631269 and parameters: {'regressor': 'XGBoost', 'max_depth': 5, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:32,433] Trial 24 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:33,043] Trial 25 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:33,466] Trial 26 finished with value: 0.9837177913038949 and parameters: {'regressor': 'XGBoost', 'max_depth': 4, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:34,095] Trial 27 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:34,507] Trial 28 finished with value: 0.9842471016293839 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 5, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:34,719] Trial 29 finished with value: 0.9758296442252078 and parameters: {'regressor': 'LightGBM', 'max_depth': 7, 'max_features': 7}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:34,895] Trial 30 finished with value: 0.9765224083258769 and parameters: {'regressor': 'LightGBM', 'max_depth': 5, 'max_features': 6}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:35,508] Trial 31 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:36,125] Trial 32 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:36,818] Trial 33 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:37,434] Trial 34 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:37,950] Trial 35 finished with value: 0.9842502916631269 and parameters: {'regressor': 'XGBoost', 'max_depth': 5, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:38,435] Trial 36 finished with value: 0.9753001439418812 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 7, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:39,040] Trial 37 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:39,475] Trial 38 finished with value: 0.9837177913038949 and parameters: {'regressor': 'XGBoost', 'max_depth': 4, 'max_features': 6}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:40,287] Trial 39 finished with value: 0.9720609785033627 and parameters: {'regressor': 'RandomForest', 'max_depth': 7, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:40,458] Trial 40 finished with value: 0.9765224083258769 and parameters: {'regressor': 'LightGBM', 'max_depth': 5, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:41,068] Trial 41 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:41,697] Trial 42 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:42,320] Trial 43 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:43,020] Trial 44 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:43,884] Trial 45 finished with value: 0.9609405790363023 and parameters: {'regressor': 'RandomForest', 'max_depth': 6, 'max_features': 7}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:44,108] Trial 46 finished with value: 0.9190008099949702 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 2, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:44,727] Trial 47 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:45,237] Trial 48 finished with value: 0.9842502916631269 and parameters: {'regressor': 'XGBoost', 'max_depth': 5, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:45,675] Trial 49 finished with value: 0.9837177913038949 and parameters: {'regressor': 'XGBoost', 'max_depth': 4, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:46,553] Trial 50 finished with value: 0.9720558623263608 and parameters: {'regressor': 'RandomForest', 'max_depth': 7, 'max_features': 6}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:47,162] Trial 51 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:47,784] Trial 52 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:48,394] Trial 53 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:49,043] Trial 54 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:49,652] Trial 55 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:50,164] Trial 56 finished with value: 0.9842502916631269 and parameters: {'regressor': 'XGBoost', 'max_depth': 5, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:50,871] Trial 57 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:51,254] Trial 58 finished with value: 0.978584587565372 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 3, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:51,876] Trial 59 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:52,478] Trial 60 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:53,099] Trial 61 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:53,716] Trial 62 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:54,327] Trial 63 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:54,514] Trial 64 finished with value: 0.9758941121368242 and parameters: {'regressor': 'LightGBM', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:55,055] Trial 65 finished with value: 0.9842502916631269 and parameters: {'regressor': 'XGBoost', 'max_depth': 5, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:55,672] Trial 66 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:56,364] Trial 67 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:56,976] Trial 68 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:57,541] Trial 69 finished with value: 0.8437742151001094 and parameters: {'regressor': 'RandomForest', 'max_depth': 5, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:58,248] Trial 70 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:58,865] Trial 71 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:31:59,469] Trial 72 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:00,100] Trial 73 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:00,708] Trial 74 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:01,318] Trial 75 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:01,844] Trial 76 finished with value: 0.9842502916631269 and parameters: {'regressor': 'XGBoost', 'max_depth': 5, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:02,036] Trial 77 finished with value: 0.9758941121368242 and parameters: {'regressor': 'LightGBM', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:02,643] Trial 78 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:03,133] Trial 79 finished with value: 0.983032001253799 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:03,841] Trial 80 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:04,441] Trial 81 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:05,063] Trial 82 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:05,670] Trial 83 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:06,287] Trial 84 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:06,905] Trial 85 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:07,415] Trial 86 finished with value: 0.9842502916631269 and parameters: {'regressor': 'XGBoost', 'max_depth': 5, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:08,117] Trial 87 finished with value: 0.9840024346566438 and parameters: {'regressor': 'XGBoost', 'max_depth': 7, 'max_features': 4}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:08,712] Trial 88 finished with value: 0.8938298760966701 and parameters: {'regressor': 'RandomForest', 'max_depth': 6, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:09,329] Trial 89 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:09,938] Trial 90 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:10,581] Trial 91 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:11,195] Trial 92 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:11,812] Trial 93 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 2}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:12,435] Trial 94 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 5}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:13,047] Trial 95 finished with value: 0.9845567951821383 and parameters: {'regressor': 'XGBoost', 'max_depth': 6, 'max_features': 3}. Best is trial 12 with value: 0.9845567951821383.
[I 2022-03-27 18:32:13,605] Trial 96 finished with value: 0.9851482213099071 and parameters: {'regressor': 'GradientBoosting', 'max_depth': 6, 'max_features': 4}. Best is trial 96 with value: 0.9851482213099071.

FrozenTrial(number=96, values=[0.9851482213099071], datetime_start=datetime.datetime(2022, 3, 27, 18, 32, 13, 50182), datetime_complete=datetime.datetime(2022, 3, 27, 18, 32, 13, 605325), params={'regressor': 'GradientBoosting', 'max_depth': 6, 'max_features': 4}, distributions={'regressor': CategoricalDistribution(choices=('GradientBoosting', 'XGBoost', 'LightGBM', 'RandomForest')), 'max_depth': IntUniformDistribution(high=7, low=2, step=1), 'max_features': IntUniformDistribution(high=7, low=2, step=1)}, user_attrs={}, system_attrs={}, intermediate_values={}, trial_id=96, state=TrialState.COMPLETE, value=None)

In [28]:
print(study.best_params)

{'regressor': 'GradientBoosting', 'max_depth': 6, 'max_features': 4}

In [29]:
from sklearn.ensemble import GradientBoostingRegressor
from time import time
gbr = GradientBoostingRegressor(random_state=17,max_depth= 6,max_features= 5)
gbr.fit(X_train, y_train)

print('Test Data')
y_pred2 = gbr.predict(X_test)
evalmetric(y_test,y_pred2)

Test Data
MSE: 1692282.8737292925
RMSE: 1300.8777320445195
MAE: 682.6134840169601
MAPE: 5.415860256715757
R-Squared: 0.9836608412393634